# CONFIGURACIÓN DEL ENTORNO

# 1. APLICACIÓN (Node.js / Express)

# Entorno de ejecución (development, production, test)
NODE_ENV=development

# Puerto donde el servidor Node.js escuchará las peticiones
PORT=3000

# 2. BASE DE DATOS (PostgreSQL / Sequelize)

# Host de la BD 

DB_HOST=localhost
DB_PORT=5434
DB_USER=db_admin
DB_PASSWORD=password
DB_NAME=simulacro_db


# Nota para despliegue contenerizado: 
# Si el backend también corre dentro de un contenedor en la red 'red-app':
# DB_HOST=db           Se usa el nombre del servicio para resolver la IP en la red Docker
# DB_PORT=5432         Puerto interno del contenedor de la base de datos


# 3. SEGURIDAD Y AUTENTICACIÓN (JWT)

# Llave secreta para firmar los tokens 
JWT_SECRET=jwt-key
JWT_EXPIRES_IN=1h